body {
    height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    font-family: 'Roboto', sans-serif;
}

.nav {
    background-color: antiquewhite;
    -webkit-transition:height 200ms ease-in-out;
    -moz-transition:height 200ms ease-in-out;
    -o-transition:height 200ms ease-in-out;
    transition:height 400ms ease-in-out;
    li:first-child {
        display: none;
        height: 56px;
        width: 100%;
        img {
            height: 50px;
        }
        i {
            cursor: pointer;
            position: absolute;
            font-size: 40px;
            right: 5px;
            user-select: none;
        }
    }
}

main {
    height: 100%;
    overflow-y: auto;
    >.row {
        min-height: calc(var(--vh, 1vh) * 100);
        align-content: center;
        border-bottom: 1px black solid;
    }
}

@media only screen and (max-width: 768px) {
    .nav {
        position: fixed;
        overflow: hidden;
        z-index: 2;
        height: 56px;
        .big-avatar {
            display: none;
        }
        li:first-child {
            display: flex;
        }
    }

    main {
        margin-top: 56px;
        height: calc(100% - 56px);
        >.row {
            min-height: calc((var(--vh, 1vh) * 100) - 56px);
        }
    }
}
