// Colors
:root {
    --color1: rgba(255, 252, 242, 1);
    --color2: rgba(204, 197, 185, 1);
    --color3: rgb(134, 142, 150);
    --color4: rgba(37, 36, 34, 1);
    --color5: rgba(56, 136, 189, 1);
    --nav:  rgba(255, 255, 255, 0.5);
}

body {
    min-height: 100vh; /* Fallback for browsers that do not support Custom Properties */
    min-height: calc(var(--vh, 1vh) * 100);
    font-family: 'Roboto', sans-serif;
    padding-left: 270px;
}


.nav {
    background-color: var(--color5);
    height: calc(var(--vh, 1vh) * 100);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 270px;
    text-transform: uppercase;
    text-align: center;
    li {
        width: 100%;
        .active {
            color: var(--color1);
        }
        a {
            color: var(--nav);
            font-size: 20px;
            font-weight: 400;
            &:active, &:hover {
                color: var(--color1);
            }
        }
    }
    li:first-child {
        display: none;
        height: 56px;
        width: 100%;
        img {
            height: 50px;
        }
        i {
            cursor: pointer;
            position: absolute;
            font-size: 40px;
            right: 5px;
            user-select: none;
        }
    }
    .big-avatar {
        width: 80%;
        img {
            width: 100%;
        }
    }
}

main {
    overflow: hidden;
    height: 100%;
    >.row {
        min-height: calc(var(--vh, 1vh) * 100);
        align-content: center;
        border-bottom: 1px black solid;
        margin: 0;
        display: flex;
        align-content: center;
        padding: 48px;
        h2 {
            width: 100%;
            text-transform: uppercase;
            font-size: 60px;
            font-weight: 200;
            margin-bottom: 70px;
        }
    }
    p {
        color: var(--color3);
    }
}

#intro {
    h1 {
        width: 100%;
        font-size: 65px;
        font-weight: 300;
        span {
            color: var(--color5);
        }
    }
    p {
        font-size: 30px;
        font-weight: 300;
        width: 100%;
    }
    .links {
        display: flex;
        a {
            margin-right: 10px;
            display: flex;
            width: 80px;
            height: 80px;
            background-position: center;
            background-size: 70%;
            background-repeat: no-repeat;
            background-color: black;
            border-radius: 100%;
            justify-content: center;
            align-items: center;
            transition: background-color 0.4s ease-in-out;
            img {
                filter: invert(100%);
                width: 50%;
                height: 50%;
            }
            &:hover {
                background-color: var(--color5);
            }
        }
    }
}

.item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    .content {
        width: calc(100% - 254px);
        h3 {
            font-size: 35px;
            font-weight: 400;
        }
        h4 {
            color: var(--color3);
            font-weight: 300;
            margin-bottom: 25px;
        }
        p {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            a {
                // Based off of: https://codepen.io/mxttsco/pen/KgodYm
                // font-size: 36px;
                text-align: center;
                margin: 0;
                padding: 0;
                transition: all 0.2s ease-in-out;
                position: relative;
    
                text-decoration: none;
                color: var(--color5);
                margin-top: 10px;
    
                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0px;
                    width: 0px;
                    height: 2px;
                    margin: 5px 0 0;
                    transition: all 0.2s ease-in-out;
                    transition-duration: 0.4s;
                    opacity: 0;
                    background-color: darken(orange,5%);
                    background-color: var(--color5);
                }
    
                &:before {
                    left: 50%;
                }
                &:after {
                    right: 50%;
                }
                &:hover {
                    cursor: pointer;
                    color: var(--color5);
                    &:before,
                    &:after {
                        width: 50%;
                        opacity: 1;
                    }
                }
            }
        }
        
    }
    .date-location {
        display: flex;
        flex-direction: column;
        width: 254px;
        text-align: right;
        align-items: flex-end;
        .date {
            color: var(--color5);
        }
        .location {
            color: var(--color3);
            padding-bottom: 10px;
        }
        .img {
            height: 175px;
            width: 225px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            flex-shrink: 0;
        }
    }
}

.flip-card {
    background-color: transparent;
    width: calc(100% - 100px);
    min-height: 200px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.5s;
    margin-bottom: 50px;
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    min-height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover {
    transform: scale(1.05);
}

.flip-card .flip-card-inner.flipped {
    // transform: rotateY(180deg);
    transform: rotateX(180deg);
}
  
.flip-card-front, .flip-card-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    min-height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
}

.flip-card-front {
    background-color: var(--color5);
    color: var(--color1);
    font-size: 40px;
    font-weight: 400;
}

.flip-card-back {
    border: var(--color4) 1px solid;
    color: var(--color3);
    transform: rotateX(180deg);
    overflow: hidden;
    h4 {
        width: 250px;
        font-size: 20px;
        font-weight: 400;
        text-align: left;
    }
    h3 {
        display: none;
        background-color: var(--color5);
        color: var(--color1);
        font-size: 30px;
        font-weight: 400;
        height: 55px;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .content {
        width: 100%;
        padding: 10px;
    }
}

#skills {
    justify-content: center;
}

.skill {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    h4 {
        margin: 0;
    }
    .progress {
        width: 100%;
    }
}

.progress-bar {
    background-color: var(--color5);
}

.carousel {
    width: 100%;
    height: 600px;
    // background-color: black;
    .carousel-inner, .carousel-item {
        height: 100%;
        width: 100%;
    }
    .img {
        height: 100%;
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .carousel-control-next, .carousel-control-prev {
        .material-icons {
            background-color: black;
            color: rgba(255, 252, 242, 1);
            font-size: 30px;
            border-radius: 15px;
        }
    }
}

#contact {
    form {
        width: 100%;
        input, textarea {
            width: 100%;
            margin-bottom: 7px;
        }
        textarea {
            height: 250px;
        }
        button {
            width: 100px;
            background-color: var(--color5);
        }
    }
}

#projects {
    .item {
        flex-wrap: wrap;
        .content {
            width: calc(100% - 600px);
            min-width: 350px;
        }
        .date-location {
            width: 600px;
            .img {
                height: 400px;
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 990px) {
    body {
        padding-left: 0;
    }
    .nav {
        -webkit-transition:height 400ms ease-in-out;
        -moz-transition:height 400ms ease-in-out;
        -o-transition:height 400ms ease-in-out;
        transition:height 400ms ease-in-out;
        justify-content: start;
        align-items: start;
        width: 100%;
        position: fixed;
        overflow: hidden;
        height: 56px;
        z-index: 2;
        .big-avatar {
            display: none;
        }
        li:first-child {
            display: flex;
            color: var(--color1);
        }
        a {
            padding: 4px;
        }
    }
    .showNav {
        height: 335px;
    }
    
    main {
        margin-top: 56px;
        height: calc(100% - 56px);
        >.row {
            min-height: calc((var(--vh, 1vh) * 100) - 56px);
            padding: 16px;
            h2 {
                font-size: 50px;
            }
        }
    }

    .item {
        flex-wrap: wrap;
        .content, .date-location {
            width: 100%;
            text-align: left;
            align-items: flex-start;
        }
    }

    #projects {
        .item {
            // flex-wrap: wrap;
            .content, .date-location {
                width: 100%;
            }
            .date-location {
                width: 100%;
                // .img {
                //     height: 400px;
                //     width: 100%;
                // }
            }
        }
    }
    

    .skill {
        flex-wrap: wrap;
        justify-content: start;
        h4 {
            margin-bottom: 5px;
            margin-left: 5px;
        }
    }

    .flip-card:hover {
        transform: none;
    }

    .flip-card-front {
        display: none;
    }

    .flip-card-back {
        transform: none;
        h3 {
            display: flex;
        }
    }

    .flip-card .flip-card-inner.flipped {
        transform: rotateX(0deg);
    }

    
}
