:root {
  --color1: #fffcf2;
  --color2: #ccc5b9;
  --color3: #868e96;
  --color4: #252422;
  --color5: #3888bd;
  --nav: rgba(255, 255, 255, 0.5);
}
body {
  min-height: 100vh;
  /* Fallback for browsers that do not support Custom Properties */
  min-height: calc(var(--vh, 1vh) * 100);
  font-family: 'Roboto', sans-serif;
  padding-left: 270px;
}
.nav {
  background-color: var(--color5);
  height: calc(var(--vh, 1vh) * 100);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 270px;
  text-transform: uppercase;
  text-align: center;
}
.nav li {
  width: 100%;
}
.nav li .active {
  color: var(--color1);
}
.nav li a {
  color: var(--nav);
  font-size: 20px;
  font-weight: 400;
}
.nav li a:active,
.nav li a:hover {
  color: var(--color1);
}
.nav li:first-child {
  display: none;
  height: 56px;
  width: 100%;
}
.nav li:first-child img {
  height: 50px;
}
.nav li:first-child i {
  cursor: pointer;
  position: absolute;
  font-size: 40px;
  right: 5px;
  user-select: none;
}
.nav .big-avatar {
  width: 80%;
}
.nav .big-avatar img {
  width: 100%;
  cursor: pointer;
}
main {
  overflow: hidden;
  height: 100%;
}
main > .row {
  min-height: calc(var(--vh, 1vh) * 100);
  border-bottom: 1px black solid;
  margin: 0;
  display: flex;
  align-content: center;
  padding: 48px;
}
main > .row h2 {
  width: 100%;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 200;
  margin-bottom: 70px;
}
main p {
  color: var(--color3);
}
#intro h1 {
  width: 100%;
  font-size: 65px;
  font-weight: 300;
}
#intro h1 span {
  color: var(--color5);
}
#intro p {
  font-size: 30px;
  font-weight: 300;
  width: 100%;
}
#intro .links {
  display: flex;
}
#intro .links a {
  margin-right: 10px;
  display: flex;
  width: 80px;
  height: 80px;
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  background-color: black;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  transition: background-color 0.4s ease-in-out;
}
#intro .links a img {
  filter: invert(100%);
  width: 50%;
  height: 50%;
}
#intro .links a:hover {
  background-color: var(--color5);
}
.item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.item .content {
  width: calc(100% - 254px);
}
.item .content h3 {
  font-size: 35px;
  font-weight: 400;
}
.item .content h4 {
  color: var(--color3);
  font-weight: 300;
  margin-bottom: 25px;
}
.item .date-location {
  display: flex;
  flex-direction: column;
  width: 254px;
  text-align: right;
  align-items: flex-end;
}
.item .date-location .date {
  color: var(--color5);
}
.item .date-location .location {
  color: var(--color3);
  padding-bottom: 10px;
}
.item .date-location .img {
  height: 225px;
  width: 225px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  flex-shrink: 0;
}
.flip-card {
  background-color: transparent;
  width: calc(100% - 100px);
  min-height: 200px;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
  cursor: pointer;
  border-radius: 10px;
  transition: transform 0.5s;
  margin-bottom: 50px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  min-height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover {
  transform: scale(1.05);
}
.flip-card .flip-card-inner.flipped {
  transform: rotateX(180deg);
}
.flip-card-front,
.flip-card-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  min-height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
}
.flip-card-front {
  background-color: var(--color5);
  color: var(--color1);
  font-size: 40px;
  font-weight: 400;
}
.flip-card-back {
  border: var(--color4) 1px solid;
  color: var(--color3);
  transform: rotateX(180deg);
  padding: 10px;
}
.flip-card-back h4 {
  width: 250px;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}
#skills {
  justify-content: center;
}
.skill {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.skill h4 {
  margin: 0;
}
.skill .progress {
  width: 100%;
}
.progress-bar {
  background-color: var(--color5);
}
#contact form {
  width: 100%;
}
#contact form input,
#contact form textarea {
  width: 100%;
  margin-bottom: 7px;
}
#contact form textarea {
  height: 250px;
}
#contact form button {
  width: 100px;
  background-color: var(--color5);
}
@media only screen and (max-width: 990px) {
  body {
    padding-left: 0;
  }
  .nav {
    -webkit-transition: height 400ms ease-in-out;
    -moz-transition: height 400ms ease-in-out;
    -o-transition: height 400ms ease-in-out;
    transition: height 400ms ease-in-out;
    justify-content: start;
    align-items: start;
    width: 100%;
    position: fixed;
    overflow: hidden;
    height: 56px;
    z-index: 2;
  }
  .nav .big-avatar {
    display: none;
  }
  .nav li:first-child {
    display: flex;
    color: var(--color1);
  }
  .nav a {
    padding: 4px;
  }
  .showNav {
    height: 335px;
  }
  main {
    margin-top: 56px;
    height: calc(100% - 56px);
  }
  main > .row {
    min-height: calc((var(--vh, 1vh) * 100) - 56px);
    padding: 16px;
  }
  main > .row h2 {
    font-size: 50px;
  }
  .item {
    flex-wrap: wrap;
  }
  .item .content,
  .item .date-location {
    width: 100%;
    text-align: left;
    align-items: flex-start;
  }
  .skill {
    flex-wrap: wrap;
    justify-content: start;
  }
  .skill h4 {
    margin-bottom: 5px;
    margin-left: 5px;
  }
  .flip-card:hover {
    transform: none;
  }
}
